* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}
body {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 375px;
    background-color: #f4f4f4;
       
}

header {
    background-color: #1B83E2;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;      
    align-items: center;    
    color: #F4F4F4;  
    
}

main {
    padding: 24px;
}

label {
    font-size: 14px;
    color: #777777;
}

select {
    background: #FFFFFF;
    border: #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;

}

input {
    background: #FFFFFF;
    border: #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 18px;
}

button {
    background: #1B83E2;
    border-radius: 25px;
    height: 48px;
    cursor: pointer;
    color: #f4f4f4;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    border: none;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 36px;
    
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    border: 1px solid #1B83E2;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.currency-container {
    padding: 10px;
    font-size: 14px;
    color: #777777;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.currency-value {
    color: #1B83E2;
    font-weight: bold;
    font-size: 20px;
}

